.buttonRed{
    background-color: darkred;
}
.buttonBigBlue{
    background-color: #0d1737;
    color: grey;
    border: grey solid 1px;
    border-radius: 5px;
    margin: 40px;
    width: 150px;
    height: 70px;
    font-size: 1.2em;

}
.buttonBigBlue:hover{
    background-color: #26304f;
}
.buttonBigGreen{
    background-color: darkgreen;
    border-radius: 5px;
    margin: 40px;
    color: grey;
    border: none;
    width: 150px;
    height: 70px;
    font-size: 1.2em;
}
.buttonBigGreen:hover{
    background-color: rgb(12, 109, 12);
}
.buttonDefault{
    background-color: #0d1737;
    color: grey;
    border: grey solid 1px;
    border-radius: 5px;
    margin: 10px;
    width: 90px;
    height: 25px;

}
.buttonDefault:hover{
    background-color: #26304f;
}
.buttonBigGreen{
    background-color: darkgreen;
    border-radius: 5px;
    margin: 40px;
    color: grey;
    border: none;
    width: 120px;
    height: 70px;
    font-size: 1.2em;
}
.buttonBigGreen:hover{
    background-color: rgb(12, 109, 12);
}